body {
  font-size: 14px;
}

.navbar-brand {
  font-size: 16px;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: #eee;
}

blockquote {
  font-size: 14px;
}

h1, .h1 {
  font-size: 32px;
  font-weight: bold;
}

h2, .h2 {
  font-size: 28px;
  font-weight: bold;
}

h3, .h3 {
  font-size: 20px;
  font-weight: bold;
}

h4, .h4 {
  font-size: 20px;
  font-weight: normal;
}
