# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
  workflow_dispatch:

name: commit-commands

jobs:
  document:
    if: ${{ contains(github.event.head_commit.message, 'ci document') }}
    name: document
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::roxygen2
          needs: pr-document

      - name: Document
        run: roxygen2::roxygenise()
        shell: Rscript {0}

      - name: Commit
        run: |
          git config --local user.name "$GITHUB_ACTOR"
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add man/\* NAMESPACE
          git commit -m 'Document'
          git push

  build-vignettes:
    if: ${{ contains(github.event.head_commit.message, 'ci build-vignettes') }}
    name: build-vignettes
    runs-on: windows-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2

      - name: Install pngquant
        shell: bash
        run: |
          choco install pngquant

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::V8, local::.

      - name: Build pre-compiled vignettes
        run: Rscript ./vignettes/precompile.R

      - name: Commit
        run: |
          git config --local user.name "$GITHUB_ACTOR"
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add vignettes/\* tests/testthat/\*.R
          git commit -m 'Build pre-compiled vignettes'
          git push
